body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.flex{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.row{
      display: flex;
  flex-direction: row;
  justify-content: center
}
.frame {
  width: 100%;
  height: 100%;
  background-color: #e5e5e5;
}
.main_frame {
  position: relative;
  width: 1440px;
  height: 1315px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #e5e5e5;
}
.main_frame .left_frame {
  background: white;
  width: 305px;
  height: 1315px;
  margin-right: 34px;
}

.left_frame .profile {
  /* Profile */
  margin-top: 41px;
  margin-bottom: 28.75px;
  width: 228px;
  height: 253px;
}
.left_frame .marginer {
  /* Line 6 */
  width: 220px;
  height: 0;
  border: 1.5px solid #f0f0f6;
  margin-top: 24.5px;
  margin-bottom: 24.5px;
}
.left_frame .about {
  /* About */
  width: 221px;
  height: 126px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.left_frame .languages_frame {
  /* Languages */
  width: 220px;
  height: 153px;
}
.left_frame .skils_frame {
  width: 220px;
  height: 242px;
}

.left_frame .extra_skils {
  /* Extra Skills */
  margin-left: -30px;

  width: 186px;
  height: 148px;
  background-color: white;
}

.profile_img {
  margin-bottom: 23.96px;
}

.profile .name {
  color: var(--Black, #2b2b2b);
  width: 66.63px;
  height: 20.904px;
  justify-content: center;
  /* H4 - 18px */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 123.6%; /* 22.248px */
  text-transform: capitalize;
}
.profile .profession {
  color: var(--Paragraph-Font, #767676);
  font-kerning: none;
  font-feature-settings: "calt" off;
  width: 147.836px;
  height: 25.655px;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
  text-transform: capitalize;
  margin-top: 3px;
}

.profile .social_icons {
  gap: 15.6px;
  width: 228px;
  height: 22.804px;
  margin-top: 19px;
}
.icon {
  /* Ellipse 9 */
  width: 24.99px;
  height: 22.8px;
  background: #ffb400;
  filter: drop-shadow(o 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.about .about_item {
  width: 221px;
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.author_dates {
  color: var(--Black, #2b2b2b);
  text-align: right;
  font-kerning: none;
  font-feature-settings: "calt" off;

  /* Paragraph Progress - 15 */
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
  text-transform: capitalize;
}
.about_cateogry {
  color: var(--Black, #2b2b2b);
  font-kerning: none;
  font-feature-settings: "calt" off;
  padding: 1px 8px 1px 5px;
  /* Paragraph Progress - 15 */
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
  text-transform: capitalize;
  background: var(--Yellow, #ffb400);
}

.about_item .author_freelance {
  color: var(--Available, #7eb942);
  text-align: right;
  font-kerning: none;
  font-feature-settings: "calt" off;

  /* Paragraph Progress - 15 */
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
  text-transform: capitalize;
}

.extra {
  color: var(--Black, #2b2b2b);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 123.6%; /* 22.248px */
  text-transform: capitalize;
  margin-bottom: 15px;
}
.slider {
  border-radius: 30px;
  border: 0.5px solid var(--Yellow, #ffb400);
  width: 218px;
  height: 4px;
  display: flex;
  align-items: center;
  padding: 0 1px;
  margin-top: 2px;
}
.slider .slider_icon {
  height: 2px;
  border-radius: 30px;
  background: var(--Yellow, #ffb400);
}
.pro {
  color: var(--Paragraph-Font, #767676);
  font-kerning: none;
  font-feature-settings: "calt" off;

  /* Paragraph Progress - 15 */
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
  text-transform: capitalize;
}
.protsent {
  margin-top: 10px;
  color: var(--Paragraph-Font, #767676);
  font-kerning: none;
  font-feature-settings: "calt" off;

  /* Paragraph Progress - 15 */
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.slider .uzbek {
  width: 100%;
}
.slider .korean {
  width: 80%;
}
.slider .english {
  width: 10%;
}
.slider .html {
  width: 90%;
}
.slider .css {
  width: 85%;
}
.slider .js {
  width: 80%;
}

.slider .nodejs {
  width: 75%;
}
.slider .python {
  width: 85%;
}

.extra_skills_item {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 5px;
}
.extra_skill_name {
  color: var(--Paragraph-Font, #767676);
  font-kerning: none;
  font-feature-settings: "calt" off;

  /* Paragraph Progress - 15 */
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
  text-transform: capitalize;
}

.cv_down_btn {
  cursor: pointer;
  width: 220px;
  height: 40px;
  background: var(--Yellow, #ffb400);
  border: none;
}
.cv_down_btn span {
  color: var(--Gray-2, #4f4f4f);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  width: 108px;
  height: 19.429px;
  margin-right: 20px;
}


.main_frame .midd_frame {
  width: 971px;
  height: 1315px;
  margin-right: 22px;
}

.midd_frame .main_menu {
  width: 971px;
  height: 454.33px;
  background-color: white;

  display: flex;
}

.main_menu .left {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  padding-top: 93px;
}
.main_menu .right {
  margin-left: 27px;
}

.left .w-place {
  width: 500px;
  color: var(--Black, #2b2b2b);
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 123.6%; 
}

.left .service_desc {
  color: var(--Paragraph-Font, #767676);
  font-kerning: none;
  font-feature-settings: "calt" off;
  margin-top: 18px;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
  text-transform: capitalize;
}

.hire_me {
  cursor: pointer;
  /* margin-left: 60px ; */
  margin-top: 25px;
  display: flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 154px;
  height: 51px;
  border-radius: 5px;
  background: var(--Yellow, #ffb400);
  border: none;
}
.hire_me span {
  color: var(--Black, #2b2b2b);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.midd_frame .my_services {
  margin-top: 120px;
}

.my_services_top h1 {
  color: var(--Black, #2b2b2b);
  text-align: center;
  /* H2 - 32px */
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 123.6%; /* 39.552px */
  text-transform: capitalize;
}
.my_services p {
  color: var(--Paragraph-Font, #767676);
  text-align: center;
  font-kerning: none;
  font-feature-settings: "calt" off;
  text-align: center;
  /* P-15px paragraph */
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
  text-transform: capitalize;
  width: 438px;
  height: 68px;
  margin-bottom: 40px;
}

.service_item {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 310px;
  height: 225px;
  background: white;
  padding-top: 30px;
}
.service_item .services {
  margin-top: 26px;
  color: var(--Black, #2b2b2b);

  /* H4 - 18px */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 123.6%; /* 22.248px */
  text-transform: capitalize;
}
.service_item .about_services {
  color: var(--Paragraph-Font, #767676);
  text-align: center;
  font-kerning: none;
  font-feature-settings: "calt" off;

  /* Paragraph Progress - 15 */
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
  text-transform: capitalize;
  margin-top: 15px;
}
.service_item img {
  width: 68px;
  height: 68px;
  flex-shrink: 0;
}
.my_services_bottom {
  display: flex;
  gap: 20px;
  margin: 10px 0;
}
#about_service {
  width: 260px;
  height: 78px;
}
.order_now {
  text-decoration: none;
  margin-top: 30px;
}
.order_now span {
  color: var(--Yellow, #ffb400);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 5px;
}
.order_now img {
  width: 4.714px;
  height: 7.072px;
}

.main_frame .right_frame {
  width: 108px;
  height: 1315px;
  background: white;
  /* padding-top:50px ; */
}
.main_frame .right_frame > img {
  margin-bottom: 174px;
  margin-top: 50px;
}

.menu_items > img {
  margin-bottom: 5px;
}
.menu_items .menus {
  margin-bottom: 43px;
  width: 40px;
  height: 40px;
}


